.basketForm {
  p {
    color: $danger;
  }
  span {
    color: $danger;
    padding-left: 6px;
  }
  label {
    color: $secondary;
  }
  .form-check-label {
    color: white;
    font-weight: 400;
  }
}
.emptyCart {
  color: $quatro;
  font-size: 1.2em;
  padding-top: 50px;
  padding-bottom: 25px;
}
.basketOrder {
  color: $secondary;
  font-family: "Dancing Script", Times, serif;
  font-size: 1.6em;
  font-weight: 900;
}
.orderSummary {
  @include for-size(laptop) {
    border-bottom: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-radius: 25%;
  }
}
.loadingWindow {
  background: rgb(25, 25, 25);
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: fixed;
  border: 2px solid $secondary;
  z-index: 1;
  text-align: center;
  @include for-size(phone) {
    width: 75%;
    height: 75%;
    left: 15%;
    top: 15%;
  }
  @include for-size(desktop) {
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
  }
  p {
    font-size: 1.7em;
    color: $quatro;
  }
  .fa-check {
    font-size: 2em;
  }
}
