.loadingWindow {
  background-color: $primary;
  position: fixed;
  z-index: 1;
  transition: 1s;
  text-align: center;
  @include for-size(phone) {
    width: 75%;
    height: 75%;
    left: 15%;
    top: 15%;
  }
  @include for-size(desktop) {
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
  }
}
