p {
  color: #dfd8c7;
}
a {
  color: #dfd8c7;
}
li {
  color: #dfd8c7;
}
form {
  color: #dfd8c7;
  font-family: "Helvetica";
  font-weight: 400;
}
h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}
h1,
h2,
h3,
h4 {
  color: $secondary;
  font-family: "Dancing Script", Times, serif;
}
.svgLogo {
  fill: red;
  color: red;
}
